.popup {
  &_position {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($popup-background, 0.5);
  }
  &__box {
    width: 90vw;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
    margin: 15vh auto;
    margin: calc(var(--vh, 1vh) * 15) auto;
    padding: 6vw;
    list-style: none;
    text-align: center;
    background-color: $widget-color;
    border: $border;
    border-radius: $border-radius;
    border-width: 2px;
    display: flex;

    flex-direction: column;

    justify-content: center;
    position: relative;
    color: $font-color-main;
    font-family: $main-font;
    font-size: 5vw;
  }
  &__button {
    padding: 1vh;
    padding: calc(var(--vh, 1vh) * 1);
    margin-top: 2vh;
    margin-top: calc(var(--vh, 1vh) * 2);
    font-size: 2.5vh;
    font-size: calc(var(--vh, 1vh) * 2.5);
  }
  &__exit {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    &::before {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 4px;
      background-color: $font-color-main;
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 4px;
      background-color: $font-color-main;
      transform: rotate(-45deg);
    }
  }
  &__form {
    margin: 0;
    padding: 0;
  }
}