.footer {
  &_position {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    height: calc(var(--vh, 1vh) * 10);
    background: #292929;
  }
  &__menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "Exo 2";
    color: $font-color-main;
  }
}